
        body {
            background: url('https://wallpaperaccess.com/full/653166.jpg') no-repeat center center fixed;
            background-size: cover;
            color: #00ff00;
            font-family: 'Press Start 2P', cursive;
            text-shadow: 4px 4px 8px #ff00ff;
            text-align: center;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .fixed-top {
            position: fixed;
            top: 20px;
        }

        .btn-primary {
            background: linear-gradient(to bottom, #aa55ff, #aa00dd);
            border: none;
            color: #00f0f0;
            padding: 20px 40px;
            font-size: 2rem;
            transition: all 0.3s;
            outline: none;
            border-radius: 10px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
            margin: 10px;
        }

        .btn-primary:hover {
            background: linear-gradient(to bottom, #00ff00, #00ddaa);
            color: #aa55ff;
            box-shadow: 0px 8px 16px rgba(255, 0, 0, 0.5);
        }

        .save-button {
            background: linear-gradient(to bottom, #ffaa00, #dd7700);
            border: none;
            color: #ff0000;
            padding: 10px 20px;
            font-size: 1.5rem;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
            margin: 10px;
        }

        #jokeText {
            font-size: 1.5rem;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.7);
            color: #00ff00;
            padding: 15px;
            width: 65%;
            margin: 20px 0;
            border-radius: 10px;
        }

        #volumeControl {
            text-align: center;
            margin: 10px 0;
        }

        #volumeSlider {
            width: 200px;
            margin: 10px 0;
        }

        #buttons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        #savedJokes {
            position: fixed;
            top: 20px;
            right: 20px;
            width: 22%;
            background-color: rgba(0, 0, 0, 0.5);
            color: #00ff00;
            padding: 10px;
            border: 2px solid #00ff00;
            border-radius: 10px;
        }

        #savedJokes ul {
            list-style-type: none;
            padding: 0;
        }

        #savedJokes li {
            font-size: 0.75rem;
            width: 100%;
            margin-bottom: 10px;
            border-bottom: 2px solid #00ff00;
            padding-bottom: 5px;
            cursor: pointer;
        }

        h1 {
            font-size: 3rem;
            text-transform: uppercase;
            letter-spacing: 8px;
            margin-bottom: 20px;
        }
        #liveChatContainer {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 20%;
            position: fixed;
            left: 0;
            top: 0;
            background: url('https://images.pexels.com/photos/1408221/pexels-photo-1408221.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed;
            background-size: cover; /* Ensure the background covers the entire container */
            color: #fff;
            padding: 10px;
            box-sizing: border-box;
            overflow: hidden; /* Prevent content overflow */
        }
        
        #messages {
            flex-grow: 1;
            overflow-y: auto;
            background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for messages */
            color: #fff;
            padding: 10px;
            box-sizing: border-box;
        }
        
        #sendMsg {
            display: flex;
            flex-shrink: 0;
            align-items: flex-end;
            padding: 10px;
            box-sizing: border-box;
            background: #AAA;
            max-width: 20%; /* Ensure the container doesn't exceed the screen width */
        }
        
        #msgTxt {
            flex-grow: 1;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: none;
            background: #fff;
            border-radius: 5px 0 0 5px;
        }
        
        #msgBtn {
            flex-grow: 0;
            width: 20%;
            max-width: 100px;
            height: 100%;
            background: #7b241c;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 0 5px 5px 0;
            transition: background-color 0.3s ease-in-out;
        }
        
        #msgBtn:hover {
            background-color: #641e16;
        }
        
        .outer {
            width: 100%;
            margin-top: 10px;
            display: flex;
        }
        
        #inner {
            padding: 10px;
            box-sizing: border-box;
            border-radius: 10px;
        }
        
        .me {
            background: #7b241c;
            color: #fff;
            align-self: flex-end;
        }
        
        .notMe {
            background: #fff;
            color: #000;
            align-self: flex-start;
        }
        
        #dltMsg {
            background: transparent;
            border: none;
            margin-left: 10px;
            cursor: pointer;
            color: #fff;
            transition: color 0.3s ease-in-out;
        }
        
        #dltMsg:hover {
            color: #eee;
        }
        
